<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order! <%= @order.email %> </h4>
  </div>

<section class="cart-show">

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price per Product</th>
        </tr>
      </thead>
      <tbody>
<!-- line_items is auto connecting order.id to the order_id in its own table. Then printing out each 1? -->
        <% @order.line_items.each do |line_item, details| %>
        <% @quantity_total = line_item.quantity %>
       	  <%= puts "this is itttt: ", line_item.id %>
          <%= render 'item', order: line_item %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= number_to_currency(@order_total / 100, :unit=> "$") %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

</section>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
